<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css"
      integrity="sha512-XWTTruHZEYJsxV3W/lSXG1n3Q39YIWOstqvmFsdNEEQfHoZ6vm6E9GK2OrF6DSJSpIbRbi+Nn0WDPID9O7xB2Q=="
      crossorigin="anonymous"
    />
    <style>
      body {
        background-image: url(img/icon-left-font.png);
        background-repeat: no-repeat;
        background-size: fill;
      }
    </style>
    <title>HOMEPAGE</title>
  </head>
  <body>
    <h1>ICI C'EST LE HOME</h1>

    <br />
    <br />
    <br />
    <br />
    <br />
    <a href="http://localhost:5000/login"><button>login</button></a>
    <br />
    <a href="http://localhost:5000/register"><button>Register</button></a>
    <br />
    <br />
    <br />
    <br />
    <a href="http://localhost:5000/profil"><button>My profil</button></a>
    <a href="http://localhost:5000/feed"><button>feed</button></a>
    <br />
    <br />
    <br />
    <br />

    <form action="">
      <p id="">je suis le test</p>
    </form>

    <h2>Gauthier tu dois rendre tout ca hyper joli stp mec</h2>
    <h4>PS:partout d'ailleurs pas que ici</h4>
  </body>
 
</html>
