<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css"
        integrity="sha512-XWTTruHZEYJsxV3W/lSXG1n3Q39YIWOstqvmFsdNEEQfHoZ6vm6E9GK2OrF6DSJSpIbRbi+Nn0WDPID9O7xB2Q=="
        crossorigin="anonymous" />
        <style>
          body{
                background-image: url(img/icon-left-font.png);
                background-repeat: no-repeat;
                background-size: fill;
            }
        </style>
    <title>LOGIN</title>
</head>
<body>
    <div class="ui container">
        <h1>CONNEXION</h1>

        <% if (locals.error){ %> 
          <div class="alert alert-danger">
          <%= locals.error %> 
          </div>
          <% } %>

        <form action="/login" method="post">

          <div class="form-outline mb-4">
            <input type="email"  name="email" class="form-control form-control-lg" />
            <label class="form-label">EMAIL</label>
          </div>
      
          <div class="form-outline mb-4">
            <input
              type="password"
              name="password"
              class="form-control form-control-lg"
            />
            <label class="form-label">PASSWORD</label>
          </div>
      
          <div class="d-flex justify-content-center">
            <button
              type="submit"
              class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
            >
              LOGIN
            </button>
          </div>
        </form>
      </div>
</body>
</html>