<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css"
    integrity="sha512-XWTTruHZEYJsxV3W/lSXG1n3Q39YIWOstqvmFsdNEEQfHoZ6vm6E9GK2OrF6Di+Nn0WDPID9O7xB2Q=="
    crossorigin="anonymous" />
    <style>
      body{
                background-image: url(img/icon-left-font.png);
                background-repeat: no-repeat;
                background-size: fill;
            }
    </style>
    <title>USERINFO</title>
</head>
<body>
    <h1>ICI info user by ID en params</h1>

    <% if (locals.success){ %>
        <a href="http://localhost:5000/feed"><button>feed</button></a>
        <br>
        <br>
        <br>
        <div>
          <p>info du user avec l'ID <%= locals.success.id %> </p>
          <li> <strong>NOM:  </strong><%= locals.success.firstname %></li> 
          <li><strong>Prenom:  </strong><%= locals.success.lastname %> </li>  
          <li><strong>BIO:  </strong><%= locals.success.bio%> </li>  
    </div>

      <% } %>


     

      <% if (!locals.success){ %>
        <div class="alert alert-danger">
          <h2>vous n'avez pas les droit: veuillez vous connecter</h2>
        </div>
        <a href="http://localhost:5000/login"><button>login</button></a>
        <% } %>
</body>
</html>